<!DOCTYPE html>
<html>
  <head>
    <title>Future Messages</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-material@1.0.0-beta-10.2"></script>
    <script src="/static/app.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-material@1.0.0-beta-10.2/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-material@1.0.0-beta-10.2/dist/theme/default.css">
  </head>
  <body>
    <div id="app">
      <md-toolbar :md-elevation="3">
        <span class="md-title">Messages</span>
      </md-toolbar>

      <md-list class="md-double-line">
        <md-list-item v-for="message in messages">
          <div class="md-list-item-text">
            <span>{{ message.content }}</span>
            <span>{{ message.notifyTime.toString() }}</span>
          </div>
        </md-list-item>
      </md-list>

      <form novalidate class="md-layout" v-on:submit.prevent="createMessage">
        <md-card class="md-layout-item md-size-50 md-small-size-100">
          <md-card-header>
            <div class="md-title">Add Message</div>
          </md-card-header>

          <md-card-content>
            <md-field>
              <label for="new-message-content">Message content</label>
              <md-input type="text" id="new-message-content" v-model="newMessageContent" />
            </md-field>
          </md-card-content>

          <md-card-actions>
            <md-button type="submit" class="md-primary">Create</md-button>
          </md-card-actions>
        </md-card>
      </form>
    </div>
  </body>
</html>
